<form method="POST" action="/update_user">
	<div>Username:</div> <input type="text" name="username" placeholder="Enter Username"><br>
	<div>Password:</div> <input type="password" name="password" placeholder="password"><br>
	<div>Counrty:</div> <input type="text" name="country" placeholder="Country Origin"><br>
	<div>Passion:</div> <input type="text" name="passion" placeholder="Your Passion"><br>
	<input type="submit" name="" value="Create Me">
</form>

<h3>Warning, using this button on the bottom will delete your stuff</h3>
<hr>
<form method="POST" action="/destroy_user">
	<input type="submit" name="" value="Delete Me">
</form>