
	<div class="login">
	<h1>Login</h1>
    <form method="GET" action="/verify">
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large"> Sign In.</button>
    </form>
</div>
	
	<div class = Jnewuser> <h2> <a href="/create_new_user" id= 'signup'> Sign Up Here</a></h2></div>

<div class="login-wrap">


<h1> Check Out These Blogs:</h1>

<% @posts.reverse.take(10).each do |a|%>
 <div class = Jfeed><a href='/post/<%= a.id %>'> <%=a.title%> </a></div>
<% end %>