<div id= 'signIn'>Please Sign in </div>

<div class = "login">
	<form method="GET" action="/verify">
		<input type="text" name="username">
		<input type="password" name="password">
		<input type="submit" name="" value="Log In">
	</form>
	<li><a href="/create_new_user"> Sign up</a></li>
</div>


<h1> Check Out These Cool Blogs</h1>


<% @posts.each do |a|%>
 <div><a href='/post/<%= a.id %>'> <%=a.title%> </a></div>
<% end %>


