<div id = 'title'>Please Sign in </div>

<div id= 'login'>
	<form method="GET" action="/verify">
		<input type="text" placeholder="Username" name="username">
		<input type="password" placeholder="Password"  name="password">
		<input type="submit" name="" value="Log In">
	</form>
	</div>
	
	<li><a href="/create_new_user" id= 'signup'> Sign up</a></li>

<div class="login-wrap">
  <h2>Login</h2>

<h1> Check Out These Blogs:</h1>

<% @posts.reverse.take(10).each do |a|%>
 <div><a href='/post/<%= a.id %>'> <%=a.title%> </a></div>
<% end %>


