<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/stylesheet/main.css">
</head>
<body>
	<div id= 'title'> Welcome to the Micro Blogging Website </div>

<nav class="navbar">
	<ul>
		<a href="/"> Home</a>
		<a href="/about"> About</a>
		<a href="/profile">Profile</a>
	</ul>
	
</nav>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<div class="main-container"> <%= yield%></div>

<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>