<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id= 'title'> Welcome to the Micro Blogging Website </div>

<nav class="navbar">
	<ul>
		<a href="/"> Home</a>
		<a href="/about"> About</a>
		<a href="/Posts">Posts</a>
	</ul>
	
</nav>

<div class="main-container"> <%= yield%></div>

<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>