<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="error_404.css">
	<title></title>
</head>
<body>
	<div id="error_404">
		<form class="link_form" method="get" action="/">
		<div><input type="submit" name="" value="Save and Continue" id="link_box"></div>
		</form>
	</div>
	<script type="text/javascript" src="oops.js"></script>
</body>
</html>