<li><a href="/users/<%= @user.id%>/edit">Edit User Info</a></li>

<h1>Hi there <%= @user.username %></h1>

<h1> Create a New Post </h1>
<form method="POST" action="/new_post">
	<div>Title:</div> <input type="text" name="title" placeholder="Title"><br>
	<div>Category:</div> <input type="text" name="category" placeholder=Category><br>
	<div>Content:</div> <input type="text" name="content" placeholder="Write Your Post Here"><br>
	<input type="submit" name="" value="Create Me">
</form>




<h3>All of your Posts</h3>

<%@post.each do |a|%>
<div><h4><%= a.title %></h4></div>
<% end %>

