
.ch_title {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}

.ch_author{
	margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}
.ch_category{
	margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}
.ch_content{
	margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}

#error_404{
    background-image: url('images/404.jpg');
}