#error_404{
	width: 800px;
	height: 800px;
    background-image: url('404.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.link_form{
	position: relative;
	top: 80%;
	width: 220px;
	height: 40px;
	margin: 0 auto;
}

#link_box{
	background-color: #5595fc;
	color: white;
	font-size: 150%;
	text-align: center;
	opacity: 0.8;

}