body {
     background: url(blogs.jpg);
    background-size: 600px;
}

.navbar {
	width: 300px;
	height: 100px;
	border: 5px solid;
	margin: 0 auto; 
	box-shadow: $signIn-shadow;
	background-color:  #000099;
	font-size: 30px;
	color: white;
	font-color: white;
	text-align: center;
}

#title {
  text-align: center;
  font-size: 30px;
  color: white;
    
}

#login {

    margin: auto;
    width: 30%;
    border: 3px solid  #000099;
    padding: 10px;
    background-color:  #000099;
}

#signup {
	align: center;
}

#blogs {
	font-size: 30px;
	color: white;
}