/* http://localhost:4567/post/edit/1 */
.main-container {
    width: 90%;
    margin: 100px;
}

.text {
    color: white;
    text-align: center;
}


.ch_title {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}

.ch_author{
	margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}
.ch_category{
	margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}
.ch_content{
	margin: 0 auto;
    width: 80%;
    text-align: center;
    color: white;
}